<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Custom Markers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
    #map {
      height: 50%;
    }
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script>
    function initMap() {
      var map = new google.maps.Map(
        document.getElementById('map'),
        { center: new google.maps.LatLng(17.456319699999998,78.3728344), zoom: 16 });
        var cityCircle = new google.maps.Circle({
        strokeColor: '#FFFF00',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FFFF00',
        fillOpacity: 0.35,
        map: map,
        center: {lat:17.456319699999998,lng:78.3728344},
        radius: 50
      });
      var a = [];
            <% for (var i = 0; i < d.length; i++) { %>
        a.push({ lat:<%= d[i].lat %>, lng:<%= d[i].lng %>});
            <% } %>
          var flightPath = new google.maps.Polyline({
          path: a,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
        flightPath.setMap(map);

    function arePointsNear(checkPoint, centerPoint, km) { 
    var ky = 40000 / 360;
    var kx = Math.cos(Math.PI * centerPoint.lat / 180.0) * ky;
    var dx = Math.abs(centerPoint.lng - checkPoint.lng) * kx;
    var dy = Math.abs(centerPoint.lat - checkPoint.lat) * ky;
   // console.log(Math.sqrt(dx * dx + dy * dy));
    return Math.sqrt(dx * dx + dy * dy) <= km;
    }

    var res=arePointsNear({lat:17.456319699999998,lng:78.3728344},a[a.length-1],0);
      var x= <%= f %>; 

   console.log(res);

  //  if(x==-1){
  //    x=res;
  //  }
   
   if(res!=x){
    //  res=true;
      if(res==false) {

        window.location.href='/option';

      }else{

        window.location.href='/time';

      }

    }
  }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUA7HInId-aYWjxMz_U1MjeyCTPDlV_5I&callback=initMap">
    </script>
</body>

</html>
    <body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/assets/sample.js"></script>
    <button id="stop">stop</button><br>
    </body>
</html>